<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.gpetuhov.android.sneakeyes"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Needed by Camera API -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <!--Needed by Google Location Services-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!--Needed to upload data to VK-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--Needed to check network status-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".SneakEyesApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Needed by Google Location Services-->
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version"/>

        <!-- Application settings activity -->
        <activity android:name=".SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--VK authorization activity-->
        <activity
            android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:theme="@style/VK.Transparent"/>

        <!-- Service takes pictures and posts to VK -->
        <service android:name=".SneakingService"/>

    </application>

</manifest>